body{
    background-color: black;
    
}

/* .container-app{
    background-color: wheat;
} */
.header-name{
    color: white;
    font-family: Montserrat;
    font-weight: 600;
}
.row-header{
    border-bottom: solid 1px #444;
}
.row-input-search{
    border-radius: 15px;
    border: solid 1px #444;
}
.input-search-repository{
    border: 0;
    background: transparent;
    padding: 10px;
    outline: 0;
    color: #FFF;
    font-size: 20px;
    flex: 1;
}
.accordion-item{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}
.accordion-item button{
    background-color: #20212C;
    color: white;
}
.accordion-button{
    background-color: #20212C !important;
    color: white !important;
}
.accordion-body{
    padding: 0;
}
.body-accordeon{
    text-align: center;
    border-bottom: solid 1px #444;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}
.body-accordeon:hover{
    background-color:#DCDCDC;
}
.popup-list-commits{
    color: white !important;
    margin-top: 160px;
    background-color: #444 !important;
}
.cards-commits{
    color: black !important;
    margin-bottom: 15px;
}




